<div class="trustpilot-widget" data-locale="en-GB" data-template-id="{{ trustpilot_template_id|e('html_attr') }}"
	 data-businessunit-id="{{ trustpilot_business_id|e('html_attr') }}" data-style-height="150px"
	 data-style-width="100%"
	 data-theme="light"><a href="{{ trustpilot_reviews_url|e('html_attr') }}" target="_blank" rel="noopener">Trustpilot</a>
</div>
